<div class="cargar_empleado">
	<div class="container-fluid">
	  <h2>Alta de Empleados</h2>
	  <h3>Datos generales</h3>
	  <!-- START BLOCK : error_usuario -->
	    <div class="alert alert-danger center-block">
			<h3>Ya existe una persona con ese DNI o con ese nombre de USUARIO.</h3>
					
		</div>
	    
	    <!-- END BLOCK : error_usuario -->
	  <form class="form-horizontal" enctype="multipart/form-data" action="index.php?action=Empleado::alta_empelado" method="post">
	    <div class="form-group">
	      <label class="control-label col-sm-2 col-xs-12" for="empl_nombre">Nombre:</label>
	      <div class="col-md-5 col-sm-5 col-xs-12">
	        <input required type="empl_nombre" class="form-control" id="empl_nombre" placeholder="Ingrese nombre del empleado" name="empl_nombre">
	      </div>
	    </div>
	     <div class="form-group">
	      <label class="control-label col-sm-2 col-xs-12" for="empl_apellido">Apellido:</label>
	      <div class="col-md-5 col-sm-5 col-xs-12">
	        <input required type="empl_apellido" class="form-control" id="empl_apellido" placeholder="Ingrese apellido del empleado" name="empl_apellido">
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2 col-xs-12" for="empl_genero">Genero:</label>
	       <div class="col-md-5 col-sm-5 col-xs-12">
		       <select  name="empl_genero" data-live-search="true" data-live-search-style="startsWith" class="selectpicker">
			      
			        <option value="M">Masculino</option>
			        <option value="F">Femenino</option>
			      
			      </select>
			</div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2 col-xs-12" for="empl_dni">DNI:</label>
	      <div class="col-md-5 col-sm-5 col-xs-12">
	        <input  type="empl_dni" class="form-control" id="empl_dni" placeholder="Ingrese dni del empleado" name="empl_dni">
	      </div>
	    </div>
	    <div class="form-group">        
	      <label class="control-label col-sm-2 col-xs-12" for="empl_fecha_nac">Fecha de Nacimiento:</label>
	       <div class='col-sm-6 col-xs-12'>
            
            	<div class='input-group date' id='datetimepicker1'>
            	    <input  placeholder="AAAA-MM-DD" name='empl_fecha_nac' type='text' class="form-control" />
            	    <span class="input-group-addon">
            	        <span class="glyphicon glyphicon-calendar"></span>
            	    </span>
            	</div>
            
            </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                	format: 'YYYY-MM-DD'
                });
            });
        </script>
	    </div>
	    <div class="form-group">        
	      <label class="control-label col-sm-2 col-xs-12" for="empl_fecha_alta">Fecha de Alta:</label>
	       <div class='col-sm-6 col-xs-12'>
            
            	<div class='input-group date' id='datetimepicker2'>
            	    <input  placeholder="AAAA-MM-DD" name="empl_fecha_alta" type='text' class="form-control" />
            	    <span class="input-group-addon">
            	        <span class="glyphicon glyphicon-calendar"></span>
            	    </span>
            	</div>
            
            </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                	format: 'YYYY-MM-DD'
                });
            });
        </script>
	    </div>
	    <h3>Datos de Contacto</h3>
	    
	    <div class="form-group">
	      <label class="control-label col-sm-2 col-xs-12" for="empl_direccion">Direccion:</label>
	      <div class="col-md-5 col-sm-5 col-xs-12">
	        <input  type="empl_direccion" class="form-control" id="empl_direccion" placeholder="Ingrese direccion del empleado" name="empl_direccion">
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2 col-xs-12" for="empl_correo">Correo:</label>
	      <div class="col-md-5 col-sm-5 col-xs-12">
	        <input  type="empl_correo" class="form-control" id="empl_correo" placeholder="Ingrese correo del empelado" name="empl_correo">
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2 col-xs-12" for="empl_telefono">Telefono:</label>
	      <div class="col-md-5 col-sm-5 col-xs-12">
	        <input  type="empl_telefono" class="form-control" id="empl_telefono" placeholder="Ingrese telefono del empleado" name="empl_telefono">
	      </div>
	    </div>

	    <h3>Datos de Usuario del Sistema</h3>
	    
	    <div class="form-group">
	      <label class="control-label col-sm-2 col-xs-12" for="empl_usuario">Usuario:</label>
	      <div class="col-md-5 col-sm-5 col-xs-12">
	        <input required type="empl_usuario" class="form-control" id="empl_usuario" placeholder="Ingrese usuario para el empleado" name="empl_usuario">
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2 col-xs-12" for="empl_pass">Contraseña:</label>
	      <div class="col-md-5 col-sm-5 col-xs-12">
	        <input required type="empl_pass" class="form-control" id="empl_pass" placeholder="Ingrese contrasela para el usuario del empleado" name="empl_pass">
	      </div>
	    </div>

	    <h3>Locales en los que trabaja</h3>
	    
	    <div class="form-group">
	     	<!-- START BLOCK : locales_empleado_alta -->
	        <div id="seleccionar_local_empl" class="checkbox">
			  <label><input name="empl_local[]" type="checkbox" value="{id_local}">{nombre_local}</label>
		    </div>
		    <!-- END BLOCK : locales_empleado_alta -->
		    <!-- START BLOCK : sin_locales_empl -->
		    <div class="col-md-12 col-xs-12">
				<div class="alert alert-warning center-block">
					<h3>No puede dar de alta empleados sin tener antes un local cargado.</h3>
					
				</div>
			</div>
		    <!-- END BLOCK : sin_locales_empl -->
	    </div>
		

	    <div class="form-group">
	    <!-- START BLOCK : con_locales_empl --> 
	    	<div class="col-md-5 col-sm-offset-2 col-sm-5 col-xs-12">
	        	<button type="submit" class="btn btn-default">Cargar</button>
	      	</div>
	    <!-- END BLOCK : con_locales_empl -->    
	    <!-- START BLOCK : sin_locales_empl_2 --> 
	    	<div class="col-md-5 col-sm-offset-2 col-sm-5 col-xs-12">
	        	<button disabled="disabled" type="submit" class="btn btn-default">Cargar</button>
	      	</div>
	    <!-- END BLOCK : sin_locales_empl_2 -->     
	      
	    </div>
	  </form>
	</div>
</div>