<div class="cargar_monedas">


<div class="container">
	
	  <h2>Declarar Moneda</h2>
	  <h3>Datos generales</h3>
 							        
	  <form class="form-horizontal" enctype="multipart/form-data" action="index.php?action=Articulo::alta_moneda" method="post">

	     
	    <div class="form-group">
	    <div class="row">
	    	<div class=" col-sm-offset-2 control-label  col-sm-2 col-xs-12">
	      		<label for="nombre_moneda">Nombre(*):</label>
	     	</div>	
	       	<div class="col-md-4 col-sm-3 col-xs-12">
				         
				<input required type="text" class="form-control" id="nombre_moneda" placeholder="Nombre para la moneda." name="nombre_moneda">
				      
			</div>

			 
			      
		</div>	    
	    </div>

	    <div class="form-group">
	    <div class="row">
	    <div class=" col-sm-offset-2 control-label  col-sm-2 col-xs-12">
	      <label for="valor_moneda">Valor:</label>
	     </div>	
	            <div class="col-md-4 col-sm-3 col-xs-12">
				         
				    <input required type="number" step="0.01" class="form-control" id="valor_moneda" placeholder="Valor de la moneda" name="valor_moneda">
				      
			    </div>
			      
		</div>	    
	    </div>

	    <div class="form-group">
	     
	    	<div class="col-md-5 col-sm-offset-2 col-sm-5 col-xs-12">
	        	<button type="submit" id ="us_gct_button" class="btn btn-default">Cargar</button>
	      	</div>
  
	    <!-- START BLOCK : sin_locales --> 
	    <div class="alert alert-warning">
  			<strong>Alerta!</strong> {mensaje_alerta}
		</div>
	    	<div class="col-md-5 col-sm-offset-2 col-sm-5 col-xs-12">
	        	<button disabled="disabled" type="submit" class="btn btn-default">Cargar</button>
	      	</div>
	    <!-- END BLOCK : sin_locales -->     
	      
	    </div>

	  

	  </form>
	</div>

</div>

	 
