<div class="cargar_articuloe">
<div class="container-fluid">
	  <div class="row">
	  	<div class="col-md-4">
	  			<div class="form-group">
			    	<div class="modal fade" id="agregar_art_valor_general" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span id = "cerrar_modal" aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">Agregar Articulo General</h4>
								</div>
								<div class="modal-body" id="agregar_ok">
								 
									<div class="form_flotante" id="form_art_general">
										
											<div class="form-group">
										      <label class="control-label col-sm-2" for="art_general">Valor:</label>
										       
										        <input  required type="text" class="form-control" id="art_general_chris" placeholder="Ingrese Valor General" name="art_general">   
										    </div>
										    <div class="form-group">    
										    	 <button   class="btn btn-primary btn-md " data-toggle="modal" data-target="#agregar_articulo_nombre" id="cargar_art_general">
										    	 Agregar	</button>
									        </div>
										
									</div>
								 
								</div>
							</div>
						</div>
					</div>
			    </div>
	  	</div>
	  </div>
</div>
<div class="container-fluid">
	  <div class="row">
	  	<div class="form-group">
	    	<div class="modal fade" id="agregar_art_marca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span id = "cerrar_modal1" aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Agregar Marca Articulo</h4>
						</div>
						<div class="modal-body">
							<div class="form_flotante" id="form_art_marca">
								
									<div class="form-group">
								      <label class="control-label col-sm-2" for="art_marca">Valor:</label>
								       
								        <input required type="text" class="form-control" id="art_marca" placeholder="Ingrese Marca de Articulo" name="art_marca">
								      
								    </div>
								    <div class="form-group">    
									   	
									   	<button type="button" class="btn btn-primary btn-md " data-toggle="modal" data-target="#agregar_articulo_nombre" id="cargar_art_marca">
										Agregar
									</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
	  </div>
</div>
<div class="container-fluid">
	  <div class="row">
	  	<div class="form-group">
	    	<div class="modal fade" id="agregar_art_tipo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span id = "cerrar_modal2" aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Agregar Tipo Articulo</h4>
						</div>
						<div class="modal-body">
							<div class="form_flotante" id="form_art_tipo">
								 
									<div class="form-group">
								      <label class="control-label col-sm-2" for="art_tipo">Valor:</label>
								       
								        <input required type="text" class="form-control" id="art_tipo" placeholder="Ingrese Marca de Articulo" name="art_tipo">
								      
								    </div>
								    <div class="form-group">    
									  	<button type="button" class="btn btn-primary btn-md " data-toggle="modal" data-target="#agregar_articulo_nombre" id="cargar_art_tipo">
										Agregar</button>
								    </div>
								 
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
	  </div>
</div>
<div class="container">
	
	  <h2>Alta de Articulos</h2>
	  <h3>Datos generales</h3>
	  <!-- START BLOCK : error_cb -->
	    <div class="alert alert-danger center-block">
			<h3>Ya existe una articulo con ese CB.</h3>
					
		</div>
	    <!-- END BLOCK : error_cb -->
 							        
	  <form class="form-horizontal" enctype="multipart/form-data" action="index.php?action=Articulo::alta_articulo" method="post">

	     
	    <div class="row">
	    <div class="form-group">
	    	<div class=" col-sm-offset-2 control-label col-sm-2 col-xs-4">
	    		<label  for="select_art_general">General (*):</label>
	    	</div>
		    <!--</div>-->
		     
			<div class="col-md-4 col-sm-3 col-xs-12">
			      	
  				<select required id="select_art_general" name="select_art_general" data-live-search="true" data-live-search-style="startsWith" class="selectpicker"> 
  				<!-- START BLOCK : cargar_articulo_nombre -->
  				  <option value="{valor_id_articulo}">{nombre_articulo}</option> 
  				<!-- END BLOCK : cargar_articulo_nombre -->
				      	
  				</select>
			</div>  

			        <!--<div class="clearfix"></div>-->
			        
			<div class="col-sm-offset-1 col-sm-3 col-xs-12">
			 	<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#agregar_art_valor_general" id="cargar_general_btn">
							Agregar
				</button>
			</div>
			       
		</div>       
	      
	   </div>
	  

	    
	     <div class="row">
	     	<div class="form-group">
	     <div class=" col-sm-offset-2 control-label col-sm-2 col-xs-4">
	      <label for="art_marca">Marca (*):</label>
	      </div>
	       
	      		<div class="col-md-4 col-sm-3 col-xs-12">
			      	
				      <select required name="art_marca" id = "select_art_marca" data-live-search="true" data-live-search-style="startsWith" class="selectpicker">-->
				      <!-- START BLOCK : cargar_articulo_marca -->
				        <option value="{valor_id_marca}">{marca_articulo}</option>
				      <!-- END BLOCK : cargar_articulo_marca -->
				      </select>
				      
			    </div>
			     <div class="col-sm-offset-1 col-sm-3 col-xs-12">
				      	<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#agregar_art_marca" id="cargar_marca_btn">
							Agregar
						</button>
			        </div>
		</div>
	    </div>

	    <div class="form-group">
	    <div class="row">
	    <div class=" col-sm-offset-2 control-label col-sm-2 col-xs-4">
	      <label  for="art_tipo">Tipo (*):</label>
	     </div>
	    
	            <div class="col-md-4 col-sm-3 col-xs-12">
				      <select required name="art_tipo" id="select_art_tipo" data-live-search="true" data-live-search-style="startsWith" class="selectpicker">-->
				      <!-- START BLOCK : cargar_articulo_tipo -->
				        <option value="{valor_id_tipo}">{tipo_articulo}</option>
				      <!-- END BLOCK : cargar_articulo_tipo -->
				      </select>
				      
			    </div>
			     <div class="col-sm-offset-1 col-sm-3 col-xs-12">
				      	<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#agregar_art_tipo" id="cargar_tipo_btn">
							Agregar
						</button>
			        </div>
		</div>	    
	    </div>
	    

	    <div class="form-group">
	    <div class="row">
	    <div class=" col-sm-offset-2 control-label  col-sm-2 col-xs-12">
	      <label for="art_cantidad_total">Codigo de Barras:</label>
	     </div>	
	            <div class="col-md-4 col-sm-3 col-xs-12">
				         
				    <input  min="0000000000000" max="9999999999999" type="number" class="form-control" id="art_codigo_barras" placeholder="Ingrese el codigo de barras del articulo." name="art_codigo_barras">
				      
			    </div>
			      
		</div>	    
	    </div>

	    <div class="form-group">
	    <div class="row">
	    <div class=" col-sm-offset-2 control-label  col-sm-2 col-xs-12">
	      <label for="art_cantidad_total">Precio Costo (*):</label>
	     </div>	
	            <div class="col-md-4 col-sm-3 col-xs-12">
				         
				    <input required min="1" type="number" step="0.01" class="form-control" id="art_precio_base" placeholder="Ingrese precio base del articulo" name="art_precio_base">
				      
			    </div>
			      
		</div>	    
	    </div>


		<div class="form-group">
	    <div class="row">
	    <div class=" col-sm-offset-2 control-label  col-sm-2 col-xs-12">
	      <label for="art_cantidad_total">Importe (*):</label>
	     </div>	
	            <div class="col-md-4 col-sm-3 col-xs-12">
				         
				    <input autocomplete="off" required  type="number" step="0.01" class="form-control" id="art_ganancia" placeholder="Ganancia, en porcentaje." name="art_ganancia">
					<label class="col-md-12 control-label col-sm-3" id ="valor_calculado_ganancia" for="art_ganancia">:</label>
				      
			    </div>
			      
		</div>	    
	    </div>

	    
	   
	    
	    <h3>Datos de Grupo de Atributos</h3>
	    <!-- START BLOCK : cargar_articulo_grupo -->
	    <div class="form-group">
	    <div class="row">
	    <div class=" col-sm-offset-2 control-label  col-sm-2 col-xs-4">
	      <label  for="art_grupo_att">{des_cat}:</label>
	     </div>
	    
	      	<div class="col-md-4 col-sm-3 col-xs-8">
							         
					<!-- START BLOCK : art_precio_base -->
					  (*)
					<input required min="1" type="number" class="form-control" id="art_precio_base" placeholder="Ingrese precio base del articulo" name="art_precio_base">
					<!-- END BLOCK : art_precio_base -->  


					<!-- START BLOCK : art_ganancia -->
					  (*)
					<input autocomplete="off" required  type="text" class="form-control" id="art_ganancia" placeholder="Ganancia, en porcentaje." name="art_ganancia">
					<label class="col-md-12 control-label col-sm-3" id ="valor_calculado_ganancia" for="art_ganancia">:</label>
					
					<!-- END BLOCK : art_ganancia -->

				

				    
				    <!-- START BLOCK : sin_articulo_grupo -->
				    <div class="col-md-12 col-xs-12">
						<div class="alert alert-warning center-block">
							<h3>Sin grupo de atributos cargados.</h3>
							
						</div>
					</div>
					 

					<div class="col-md-12 col-sm-3 col-xs-12">
				      	<button type="button" class="btn btn-primary btn-md disabled" data-toggle="modal" data-target="#agregar_articulo_nombre">
							Agregar
						</button>
			        </div>
				    <!-- END BLOCK : sin_articulo_grupo -->
				      
			</div>
			 
		</div>
	    </div>
		<!-- END BLOCK : cargar_articulo_grupo -->
	     <h3>Datos de Proveedor</h3>
	     <!--<div class="form-group">
	    <div class="row">
	    <div class=" col-sm-offset-2 control-label col-md-12 col-sm-2 col-xs-4">
	      <label  ></label>
	     </div>
	           	<div id="seleccionar_local_art" class="col-md-12 col-sm-3 col-xs-8 checkbox">
			  <label><input id="conlocal_art" type="checkbox" value="{id_local}">Definir Proveedor</label>
		    </div>
			      
		</div>	    
	    </div>-->
	    <div class="form-group">
	     <div class="row">
	     <div class=" col-sm-offset-2 control-label  col-sm-2 col-xs-12">
	      <label  for="art_tipo">Proveedor:</label>
	      </div>
	      
		    <div  id="con_prvd_">
		    	<div class="col-md-3 col-sm-2 col-xs-12">
				      <select name="art_prvd" data-live-search="true" data-live-search-style="startsWith" class="selectpicker">
				      <!-- START BLOCK : cargar_articulo_prvd -->
				        <option value="null"></option>
				        <option value="{valor_id_prvd}">{prvd_articulo}</option>
				      <!-- END BLOCK : cargar_articulo_prvd -->
				      </select>
				      
			    </div>
			    <!--<div class="col-md-4 col-sm-3 col-xs-12">
			     <a href="index.php?action=Proveedor::cargar_proveedor">
				      	<button type="button" class="btn btn-primary btn-md " data-toggle="modal" data-target="#agregar_articulo_nombre">
							Agregar
						</button></a>
			    </div>-->
		    </div>
	            
		</div>	
	    </div>
	    
	    

	     
		<h3>Fotos</h3>

		<div class="form-group">
	     <div class="row">
	      
	      
		    <div  id="fotos_art">
		    <div class=" col-sm-offset-2 control-label  col-sm-2 col-xs-4">
		    <label for="art_grupo_att">Agregar Fotos</label>
		    </div>
		    <!--multiple=true -->
		    	<div class="col-md-4 col-sm-3 col-xs-8">
				   <input accept="image/*" capture id="input-b3" name="fotos_art[]" type="file" class="file"  
					    data-show-upload="false" data-show-caption="true" 
					    data-msg-placeholder="Seleccione las fotos a subir..">
			    </div>
			    
		    </div>
	            
		</div>	
	    </div>

	    <h3>Distribuir por local</h3>
	    
	    <div class="form-group">
	     
	   	<!-- START BLOCK : locales_empleado_alta -->
	        <!--<div id="seleccionar_local_art" class="checkbox">
	        <div class="  control-label  col-sm-2 col-xs-4">
			  <label id="label_h" for="check_art_locales">
			  <input  class="check_art_locales"  name="art_local[]" type="checkbox" value="check_art_locales_{id_local_}">{nombre_local}
			  </label>
			 </div>
		    </div>-->
		<!-- END BLOCK : locales_empleado_alta -->

		<!-- START BLOCK : locales_alta -->
	    
	     <div class="row" id="check_art_locales_{id_local_}"> 
	     

	     	<div class="  control-label  col-sm-2 col-xs-4">   
			    <label  for="art_local">{nombre_local}:</label>
			  </div>
		 
	      		<div class=" col-sm-6 col-xs-8">
			      	
				    
				    <input  value="0" min="0" type="number" class="art_local_cantidad_ form-control" id="art_local_cantidad_" placeholder="Ingrese cantidad de articulos" name="art_local_cantidad_{id_art_local}">
				     
			            
			        <div class='input-group date' id='datetimepicker{nombre_local_art_2}'>
			            <input  value="2017-12-08" placeholder="AAAA-MM-DD" name="art_carga_local_fecha_{id_art_local}" type='text' class="form-control" />
			            <span class="input-group-addon">
			                <span class="glyphicon glyphicon-calendar"></span>
			            </span>
			        </div>
			    </div>  
			          
			   
				<script type="text/javascript">
				    $(function () {
				    	
				        $('#datetimepicker{nombre_local_art}').datetimepicker({
				        	//
				        	format: 'YYYY-MM-DD HH:MM:SS'


				        });
				    });
				</script>

				     
			  
			</div> 	 
		    <!-- END BLOCK : locales_alta -->
		    <!-- START BLOCK : sin_locales_empl -->
		    <div class="col-md-12 col-xs-12">
				<div class="alert alert-warning center-block">
					<h3>No puede realizar una distribucion de los articulos sin antes tener locales cargados.</h3>
					
				</div>
			</div>
		    <!-- END BLOCK : sin_locales_empl -->
		
	    </div>


		

	    <div class="form-group">
	    <!-- START BLOCK : con_locales_empl --> 
	    	<div class="col-md-5 col-sm-offset-2 col-sm-5 col-xs-12">
	        	<button type="submit" id ="art_carga_btn" class="btn btn-default">Cargar</button>
	      	</div>
	    <!-- END BLOCK : con_locales_empl -->    
	    <!-- START BLOCK : sin_locales_empl_2 --> 
	    	<div class="col-md-5 col-sm-offset-2 col-sm-5 col-xs-12">
	        	<button disabled="disabled" type="submit" class="btn btn-default">Cargar</button>
	      	</div>
	    <!-- END BLOCK : sin_locales_empl_2 -->     
	      
	    </div>

	    <!--<div class="form-group">
	    <div class="row">
	    <div class=" col-sm-offset-2 control-label col-sm-2 col-xs-12">
	      <label for="art_cantidad_total">Cantidad Total:</label>
	     </div>
	            <div class="col-md-4 col-sm-3 col-xs-12">
				         
				    <input required min="1" type="number" class="form-control" id="art_cantidad_total" placeholder="Ingrese cantidad total del articulos" name="art_cantidad_total">
				      
			    </div>
			      
		</div>	

		<input id="art_cantidad_total" class="oculta_inputs2" name="art_cantidad_total">
		<label class="col-md-12 control-label col-sm-3" id ="mostrar_cantidad_total">:</label>    
	    </div>-->




	  </form>
	</div>

</div>