<div class="exito">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-success center-block">
					<h3>Datos Guardados con Exito!</h3>
					
					<!-- START BLOCK : lista_parametros_venta -->
					<a href="index.php?action=Venta::mostrar_parametros_medio">
						<button type="button" class="btn btn-primary">Volver</button>
					</a>
					<!-- END BLOCK : lista_parametros_venta -->

					<!-- START BLOCK : lista_articulos -->
					<a href="index.php?action=Venta::mostrar_parametros_medio">
						<button type="button" class="btn btn-primary">Volver</button>
					</a>
					<!-- END BLOCK : lista_articulos -->
				</div>
			</div>
		</div>
	</div>
</div>