<div class="exito">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-success center-block">
					<h3>Datos Guardados con Exito!</h3>
					<!-- START BLOCK : articulos_carga -->
					<h4>Se cargaron <strong>{cantidad_art}</strong> articulos.</h4>
					<a href="index.php?action=Articulo::mostrar">
						<button type="button" class="btn btn-primary">Ver</button>
					</a>
					<!-- END BLOCK : articulos_carga -->

					<!-- START BLOCK : alta_sobrante_exito -->
					<h4>Declaracion de sobrante cargada con exito.</h4>
					<a href="index.php?action=Articulo::Declarar_sobrante">
						<button type="button" class="btn btn-primary">Seguir Cargando</button>
					</a>
					<!-- END BLOCK : alta_sobrante_exito -->

					<!-- START BLOCK : modifica_attr -->
					<a href="index.php?action=Articulo::mostrar">
						<button type="button" class="btn btn-primary">Volver a Lista</button>
					</a>
					<!-- END BLOCK : modifica_attr -->

					<!-- START BLOCK : alta_moneda_exito -->
					<a href="index.php?action=Articulo::form_alta_moneda">
						<button type="button" class="btn btn-primary">Seguir Cargando</button>
					</a>
					<!-- END BLOCK : alta_moneda_exito -->

					<!-- START BLOCK : alta_prvd_exito -->
					<a href="index.php?action=Proveedor::cargar_proveedor">
						<button type="button" class="btn btn-primary">Seguir Cargando</button>
					</a>
					<!-- END BLOCK : alta_prvd_exito -->

					<!-- START BLOCK : alta_gcat_exito -->
					<a href="index.php?action=Articulo::form_alta_grupo_atributos">
						<button type="button" class="btn btn-primary">Seguir Cargando</button>
					</a>
					<!-- END BLOCK : alta_gcat_exito -->


					<!-- START BLOCK : alta_ventas_antiguas -->
					<a href="index.php?action=Venta::cargar_ventas_antiguas">
						<button type="button" class="btn btn-primary">Seguir Cargando</button>
					</a>
					<!-- END BLOCK : alta_ventas_antiguas -->

					<!-- START BLOCK : alta_art_exito -->
					<a href="index.php?action=Articulo::cargar_deposito">
						<button type="button" class="btn btn-primary">Seguir Cargando</button>
					</a>
					<!-- END BLOCK : alta_art_exito -->
					
					<!-- START BLOCK : alta_medio_pago_exito -->
					<a href="index.php?action=Venta::alta_parametros_medio">
						<button type="button" class="btn btn-primary">Seguir Cargando</button>
					</a>
					<!-- END BLOCK : alta_medio_pago_exito -->
					<!-- START BLOCK : lista_parametros_venta -->
					<a href="index.php?action=Venta::mostrar_parametros_medio">
						<button type="button" class="btn btn-primary">Volver</button>
					</a>
					<!-- END BLOCK : lista_parametros_venta -->

					<!-- START BLOCK : lista_articulos -->
					<a href="index.php?action=Venta::mostrar_parametros_medio">
						<button type="button" class="btn btn-primary">Volver</button>
					</a>
					<!-- END BLOCK : lista_articulos -->
				</div>
			</div>
		</div>
	</div>
</div>