<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<title>Ascenso Positivo Stock</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/normalize.css">
	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/script_christian.js?v=4.0" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>
	
	<link rel="stylesheet" href="css/bootstrap/bootstrap-social.css">
	 
	<script type="text/javascript" src="js/jquery.slides.js"></script>
	
	<link rel="stylesheet" href="fonts/iconmoon/style.css?v=1.2">
	<link rel="stylesheet" href="css/estilo_christian.css?v=3.6">
	<link rel="stylesheet" href="css/login.css?v=1.0">
	<link rel="stylesheet" href="css/icoicoico/style.css?v=1.2" type="text/css">
 <!--Agregado-->
	 
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	 

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>


</head>
<body>
	{menu_bar}

	{contenido}


<hr />



<footer>

	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<h3>Contacto desarrollador</h3>
				
					
					<span id="cont_mail" class="icon-phone">
						383-154528621
					</span>
	  				
	  				<span id="cont_mail" class="icon-envelop">	christianbarrientoss@hotmail.com</span>
	  				
				
			</div>
			
		</div>
		
	</div>
</footer>
 
</body>
</html>