<div class="locales">
	<div class="container-fluid">
		<div class="row encabezado">
			<div class="col-md-6 col-xs-4">
				<div class="titulo-secciones panel-heading">Locales</div>

			</div>
			<div class="col-md-4 col-xs-12">
				<a href="index.php?action=Local::cargar_local">
						<button type="button" class="agregar btn btn-primary">Agregar</button>
					</a>
			</div>
		</div>
		<div class="row">
			<!-- START BLOCK : sin_locales -->
			<div class="col-md-6 col-md-offset-2">
				<div class="alert alert-warning center-block">
					<h3>No posee locales cargados.</h3>
					
				</div>
			</div>
			<!-- END BLOCK : sin_locales -->
		</div>
		<div class="row">
		<!-- START BLOCK : con_locales -->

			<div class="col-md-4 col-xs-6">
				<div class="panel panel-default">
				  <div class="panel-body">
				  </div>
				  <div class="panel panel-default">
					  <div class="panel-heading"><strong>{nombre}</strong></div>
					  <div class="panel-body">
					    <p class="lead">{descripcion}</p>
					  </div>
					  <ul class="list-group">
					    <li class="list-group-item"><strong>Direccion:</strong> <p>{direccion}</p></li>
					    <li class="list-group-item"><strong>Cantidad de Empleados:</strong> {cantidad_empl}</li>
					    
					  </ul>
					</div>
					<div class="panel-footer">
						<a href="index.php?action=Local::modificar&id_local={id_local}">
						<button type="button" class="btn btn-info">Modificar</button>
						</a>
					</div>
				</div>

			</div>
			<!-- END BLOCK : con_locales -->

			
		</div>
	</div>
</div>