<header id="menu_header">
<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
         
        <div class="navbar-header" id="placebo">
          <a class="navbar-brand" href="#">OtiuM v1.9</a>
          <br>

         
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a href="index.php?action=Ingreso::hola">
                 <img  id="logo" src="imagenes/aesi2.png" alt="">
            </a>-->
        </div>
             
           
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <!-- START BLOCK : dentro -->
            <ul class="nav navbar-nav">
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{usuario} <span sclass="sr-only" class="pull-right hidden-xs showopacity caret" tyle="font-size:16px;"></span></a>

                    <!--<a href="#">
                        <span sclass="sr-only" tyle="font-size:16px;" class="pull-right hidden-xs showopacity">{usuario}</span>
                    </a>-->
                    <ul class="dropdown-menu">
                        <li><a href="index.php?action=Ingreso::salir">Salir</a></li>
                        <!--<li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>-->
                    </ul>
                </li>

                

                 <li {select_menu}><a href="index.php?action=Ingreso::menu_admin">{nombre_cliente}<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>

            </ul> 

            

            <ul class="nav navbar-nav navbar-right">
                
                <li class="dropdown" {select_locales}>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locales <span sclass="sr-only" class="pull-right hidden-xs showopacity caret" tyle="font-size:16px;"></span></a>

                    <ul class="dropdown-menu">
                        <li><a href="index.php?action=Local::mostrar">Listar/Moficar </a></li>
                        <li><a href="index.php?action=Empleado::menu">Empleados</a></li>

                        <li class="divider"></li>
                        <li class="disabled"><a href="#">Reportes</a></li>
                        <li class="disabled"><a href="#">Parametros</a></li>
                        
                    </ul>

                    <!--<a href="index.php?action=Local::mostrar">Locales <span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>-->
                </li>

                <!--<li {select_empleados}><a href="index.php?action=Empleado::menu">Empleados<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>
               
                <li {select_proveedores}><a href="index.php?action=Proveedor::menu&opcion_list=1">Proveedores<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>-->

                <li class="dropdown" {select_articulos}>

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articulos <span sclass="sr-only" class="pull-right hidden-xs showopacity caret" tyle="font-size:16px;"></span></a>

                    <ul class="dropdown-menu">
                        <!--class="disabled" en el li -->
                        <li >  <a href="index.php?action=Articulo::mostrar">Listar/Modificar</a></li>
                        <li><a href="index.php?action=Proveedor::menu&opcion_list=1">Proveedores</a></li>
                        <li><a href="index.php?action=Articulo::Vender">Vender</a></li>

                        <li><a href="index.php?action=Autoventa::Inicio">Autoventa</a></li>
    
                        <li><a href="index.php?action=Articulo::Vender">Cargar Ventas Antiguas</a></li>

                        <li class="divider"></li>
                        <li class="disabled"><a href="#">Reportes</a></li>
                        <li class="disabled"><a href="#">Parametros</a></li>
                    </ul>

                    <!--<a href="index.php?action=Articulo::mostrar">Articulos<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>-->

                </li>
                
                <li class="dropdown" {select_gastos}>
                    <!--<a href="index.php?action=Gasto::menu">Gastos<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>-->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gastos<span sclass="sr-only" class="pull-right hidden-xs showopacity caret" tyle="font-size:16px;"></span></a>

                    <ul class="dropdown-menu">
                        <!--class="disabled" en el li -->
                        <li > <a href="index.php?action=Gasto::menu">Listar</a></li>

                        <li class="divider"></li>
                        <li class="disabled"><a href="#">Reportes</a></li>
                        <li class="disabled"><a href="#">Parametros</a></li>
                    </ul>


                </li>
                
                <!--<li {select_user}><a href="index.php?action=Ingreso::salir">Salir<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>-->

              
               
            <!-- END BLOCK : dentro -->

            <!-- START BLOCK : operador -->
            <ul class="nav navbar-nav">
                
                <li><a href="#"><span sclass="sr-only" tyle="font-size:16px;" class="pull-right hidden-xs showopacity">{usuario}</span></a></li>

                

                 <li {select_menu}><a href="#">{nombre_cliente}<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>

            </ul> 

            

            <ul class="nav navbar-nav navbar-right">
                
                <li {select_user}><a href="index.php?action=Ingreso::salir">Salir<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>
               
            <!-- END BLOCK : operador -->
              
            </ul> 
        </div>
    </div>
</nav>
</header>

