<div class="menu_articulos_admin">
	<div class="container">
		<div class="row encabezado">
			<div class="col-md-4 col-xs-6">
				<div class="titulo-secciones panel-heading">Bienvenido!</div>

			</div>
			
		</div>
		
		<div class="row">
		<!-- START BLOCK : con_sucursales -->
		<div class="row">

			
			<div class="col-md-6 col-md-offset-2">
				<div class="alert alert-success center-block">
					<h3>Selecciona el Lugar en donde te encuentras.</h3>
					
				</div>
			</div>
			
		</div>
			<div class="col-md-3 col-xs-6">
			 
				<div class="panel panel-default">
				  <div class="panel-body">
				  	<h3>{titulo}</h3>
				  </div>
				   
				</div>

			</div>
			<!-- END BLOCK : con_sucursales -->

			<!-- START BLOCK : sin sucursales -->

			<div class="col-md-3 col-xs-6">
			 
				<div class="alert alert-warning center-block">
					<h3>No posee sucursales asiganas aun.</h3>
					
				</div>

			</div>
			<!-- END BLOCK : sin sucursales -->

			
		</div>
	</div>
</div>