<div class="menu_articulos_admin">
	<div class="container">
		<div class="row encabezado">
			<div class="col-md-4 col-xs-6">
				<div class="titulo-secciones panel-heading">Bienvenido!</div>

			</div>
			
		</div>
		
		<div class="row">
		<!-- START BLOCK : con_sucursales -->
		<div class="row">

			
			<div class="col-md-6 col-md-offset-2">
				<div class="alert alert-success center-block">
					<h3>Selecciona el Lugar en donde te encuentras.</h3>
					
				</div>
			</div>
			
		</div>
		<!-- START BLOCK : emp_sucursales -->
			<div class="col-md-3 col-xs-6">
				 <div class="list-group">
				  <a href="#" class="list-group-item active">
				    <h4 class="list-group-item-heading">{titulo}</h4>
				    <p class="list-group-item-text">{descripcion}</p>
				  </a>
				</div>
				
			</div>

			
			<!-- END BLOCK : emp_sucursales -->
			<!-- END BLOCK : con_sucursales -->

			<!-- START BLOCK : sin sucursales -->

			<div class="col-md-3 col-xs-6">
			 
				<div class="alert alert-warning center-block">
					<h3>No posee sucursales asiganas aun.</h3>
					
				</div>

			</div>
			<!-- END BLOCK : sin sucursales -->

			
		</div>
	</div>
</div>