<div class="menu_articulos_admin">
	<div class="container">
		<div class="row encabezado">
			<div class="col-md-12 col-xs-12">
				<div class="titulo-secciones panel-heading">¿En donde te encuentras?</div>

			</div>
			
		</div>
		
		<div class="row">
		<!-- START BLOCK : con_sucursales -->
		<div class="row">

			
			<div class="col-md-6 col-md-offset-2">
				<div class="alert alert-success center-block">
					<h3>Selecciona un local</h3><br>
					<!-- START BLOCK : emp_sucursales -->
				
					 <div class="list-group">
					  <a href="index.php?action=Articulo::mostrar_operador&id_local={id_local_art}" class="list-group-item active">
					    <h4 class="list-group-item-heading">{titulo}</h4>
					    <p class="list-group-item-text">{descripcion}</p>
					  </a>
					</div>
					<!-- END BLOCK : emp_sucursales -->
				</div>
			</div>
			
		</div>
		
			<!-- END BLOCK : con_sucursales -->

			<!-- START BLOCK : sin sucursales -->

			<div class="col-md-3 col-xs-6">
			 
				<div class="alert alert-warning center-block">
					<h3>No posee sucursales asiganas aun.</h3>
					
				</div>

			</div>
			<!-- END BLOCK : sin sucursales -->

			
		</div>
	</div>
</div>