<div class="menu_articulos_admin">


<!-- START BLOCK : modal_actualizar_precio -->
<div class="container-fluid">
	<div class="row">
		<div class="modal fade" id="precio_{id_art_lote}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="modal_galeri_backcolor">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span id = "cerrar_modal" aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Actualizar Precio</h4>
					</div>
					<div class="modal-body">
					 	<div class="form_flotante" id="form_art_general">
							<form class="form-horizontal" role="form" enctype="multipart/form-data" action="index.php?action=Articulo::actualiza_precio&id_art_lote={id_art_lote}" method="post">
								<h3>Precio Base</h3>
								<!-- START BLOCK : actualiza_precio_base -->
								 <input required min="1" type="number" class="form-control" id="art_precio_base" placeholder="Ingrese precio base del articulo" name="art_precio_base" value="{precio_base_}">
								<!-- END BLOCK : actualiza_precio_base -->
								<h3>Tarjeta Credito(Porcentaje)</h3>
								<!-- START BLOCK : actualiza_precio_tarjeta -->
								 <input autocomplete="off" required  type="text" class="form-control" id="art_precio_tarjeta" placeholder="Precio tarjeta, en porcentaje." name="art_precio_tarjeta" value="{precio_tarjeta_}">
								 <!-- END BLOCK : actualiza_precio_tarjeta -->
								<label class="col-md-12 control-label col-sm-3" id ="valor_calculado_tarjeta" for="art_precio_tarjeta">:</label>
								
								<h3>Credito Personal(Porcentaje)</h3>
								<!-- START BLOCK : actualiza_precio_credito -->
								<input autocomplete="off" required type="text" class="form-control" id="art_precio_credito_argentino" placeholder="Precio Credito Personal, en porcentaje." value="{precio_credito_}" name="art_precio_credito_argentino">
								<!-- END BLOCK : actualiza_precio_credito -->
								<label class="col-md-12 control-label col-sm-3" id ="valor_calculado_credito_personal" for="art_precio_credito_argentino">:</label>

								<button class="agregar btn btn-primary" type="submit">Actualizar</button>
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<!-- END BLOCK : modal_actualizar_precio -->

<!-- START BLOCK : modal_actualiza_stock -->
<div class="container-fluid">
	<div class="row">
		<div class="modal fade" id="actualiza_{id_art_lote}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="modal_galeri_backcolor">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span id = "cerrar_modal" aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Actualizar Stock</h4>
					</div>
					<div class="modal-body">
					 	<div class="form_flotante" id="form_art_general">
							<form class="form-horizontal" role="form" enctype="multipart/form-data" action="index.php?action=Articulo::actualiza_stock&id_art_lote_stock_actual={id_art_lote_stock_actual}" method="post">
								<h3>Cantidadde actuales por Local:</h3>
								 <!-- START BLOCK : actualiza_sin_stock_locales_cant -->
								<div class="form-group">
									<label id="label_h" class="col-lg-2 control-label" for="art_ventas_radio">{nombre_local}</label>
									 <div class="col-lg-10">
										<input id="oculta_inputs" class="art_ventas_radio"  name="actualiza_nombre_local[]" type="text" value="{id_local}">
											
										<input  class="art_ventas_radio"  name="actualiza_cantidad_local[]"  min="0" type="number" value="{cantidad_local}" id='art_ventas_radio'>
									</div>

								</div>
								<!-- START BLOCK : actualiza_stock_fecha_art -->
								<div class='input-group date' id='datetimepicker{nombre_local_art_2}'>
			            			<input placeholder="AAAA-MM-DD" name="art_carga_local_fecha_[]" type='text' class="form-control" />
			            			<span class="input-group-addon">
			                			<span class="glyphicon glyphicon-calendar"></span>
			            			</span>
			        			</div>      
			    
								<script type="text/javascript">
								    $(function () {
				    	
								        $('#datetimepicker{nombre_local_art}').datetimepicker({
				        
								        	format: 'YYYY-MM-DD HH:MM:SS'


								        });
								    });
								</script>
								<!-- END BLOCK : actualiza_stock_fecha_art -->
								<!-- END BLOCK : actualiza_sin_stock_locales_cant -->
										     
									
								<br>
								<button class="agregar btn btn-primary" type="submit">Actualizar</button>
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<!-- END BLOCK : modal_actualiza_stock -->

<!-- START BLOCK : modal_galery_fotos -->
<div class="container-fluid">
	<div class="row">
		<div class="modal fade" id="{id_lote}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="modal_galeri_backcolor">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span id = "cerrar_modal" aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Fotos del Articulo</h4>
					</div>
					<div class="modal-body">
					 	<ul class="modal_galery first">
					 	<!-- START BLOCK : modal_galery_fotos_path -->
						    <li class="li_sin_puntos">
						        <img class="img-rounded" width="304" height="236"  alt="Night away"  src="{path_foto}">
								        
						    </li>
						    <br>	
						<!-- END BLOCK : modal_galery_fotos_path -->
						</ul>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<!-- END BLOCK : modal_galery_fotos -->

<!-- START BLOCK : modal_venta_art -->

<div class="container-fluid">
	<div class="row">
		<div class="form-group">
			    	<div class="modal fade" id="{selecionar_local_venta}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span id = "cerrar_modal" aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">Seleccione el Local en donde se encuentra</h4>
								</div>
								<div class="modal-body" id="agregar_ok">
								 
									<div class="form_flotante" id="form_art_general">
										<form class="form-horizontal" enctype="multipart/form-data" action="index.php?action=Articulo::venta_articulo" method="post">
											<div id="seleccionar_local_art" class="checkbox">

											  <label id="label_h" for="art_ventas_radio">
											<!-- START BLOCK : locales_seleccion_venta_art -->
									       
											  	<input  class="art_ventas_radio"  name="art_local_venta" type="radio" value="{id_lote_local}" id='art_ventas_radio'>{nombre_local}
											 	</label>
										     
											<!-- END BLOCK : locales_seleccion_venta_art -->
											<br>
											<button class="agregar btn btn-primary" type="submit">Continuar</button>
											</div>
										</form>
									</div>
								 
								</div>
							</div>
						</div>
					</div>
			    </div>	
	</div>
</div>

<!-- END BLOCK : modal_venta_art -->


	<div class="container-fluid">
	<!--container-fluid-->
		<div class="row encabezado">
			<div class="col-md-6 col-xs-4">
				<div class="titulo-secciones panel-heading">Deposito</div>

			</div>
			<div class="col-md-4 col-xs-12">
					<a href="index.php?action=Articulo::cargar_deposito">
						<button type="button" class="agregar btn btn-primary">Agregar</button>
					</a>
			</div>
		</div>

		<div class="row">
		<!-- START BLOCK : buscador_visible -->
			<div class="col-md-6 col-xs-12">
				<span class="input-group-addon" id="basic-addon1">Buscar</span>
	  			<input id="filtrar" type="text" class="form-control" placeholder="Ingrese una palabra referida al articulo.">
				
			</div>
		<!-- END BLOCK : buscador_visible -->
			

			
			
		</div>
		<br><br>
		<div class="row">

			<!-- START BLOCK : sin_articulos -->
			<div class="col-md-6 col-md-offset-2 col-xs-12">
				<div class="alert alert-warning center-block">
					<h3>No posee articulos en el deposito.</h3>
					
				</div>
			</div>
			<!-- END BLOCK : sin_articulos -->
		</div>
		<!--table-responsive  crea una barra horizontal de navegacion en talbets-->
		<div class="row ">
		<!-- START BLOCK : con_articulos_nolista -->

			<div class="col-md-6 col-xs-12">
			 
			
				<div class="panel panel-default">
				  <div class="panel-body">
				  </div>
				  <div class="panel panel-default">
					  <div class="panel-heading"><strong>{nombre}</strong></div>
					  <div class="panel-body">
					    <p><img class="img-circle img-responsive" id="empleado_foto" src="{empl_foto}" alt=""></p>
					  </div>
					  <ul class="list-group">
					    <li class="list-group-item"><strong>Proveedor:</strong>  {prvd}</li>
					    <li class="list-group-item"><strong>Cantidad Total:</strong> {cantidad_total}</li>
					    <li class="list-group-item"><strong>Codigo de Barra:</strong> {cb}</li>
					    <li class="list-group-item"><strong>Medida:</strong> {art_medida}</li>
					    <li class="list-group-item"><strong>Precio Base:</strong> {precio_base}</li>
					    <li class="list-group-item"><strong>Precio Tarjeta:</strong> {precio_tarjeta}</li>
					    <li class="list-group-item"><strong>Credito Personal:</strong> {credito_personal}</li>
					    <li class="list-group-item"><strong>Color:</strong> {art_color}</li>
					  </ul>
					</div>
					<div class="panel-footer">
						<button type="button" class="btn btn-info">Modificar</button>
					</div>
				</div>

			</div>
			<!-- END BLOCK : con_articulos_nolista -->
			
	
			<!-- START BLOCK : con_articulos_lista -->
			<table cellpadding="15" class="table table-bordered " align="center">
			<thead>
			<!-- START BLOCK : con_articulos_lista_cabeza -->
			 <tr>
	            <th>Numero</th>
	            <th>Articulo</th>
	            <!-- colspan="2"-->
	            <th>Stock</th>
	            <th>Medida</th>            
	            <th>Precio Base</th>
	            <th>Precio Tarjeta</th>
	            <th>Credito Personal</th>
	            <th>Operaciones</th>
	             
        	</tr>
        	</thead>
        	<tbody class="buscar">
        	
			<!-- END BLOCK : con_articulos_lista_cabeza -->
			
			<!-- START BLOCK : con_articulos_lista_cuerpo -->
			<tr>
				<td>{numero}</td>
	            <td>{nombre}</td>
	            <td>{cantidad_total}</td>
	            <td>{art_medida}</td>
	            <td>{precio_base}</td>
	            <td>{precio_tarjeta}</td>
	            <td>{credito_personal}</td>

	            <td> 
	            	<button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#{id_lote}">
							Ver Fotos
					</button>
					<br>
					
					<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#{selecionar_local_venta}">
							Vender
					</button>
					<br>
					<!-- START BLOCK : actualiza_stock_boton -->
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#actualiza_{id_art_lote}">Actualizar Stock</button>
					<!-- START BLOCK : actualiza_stock_boton -->
					<br>
					<!-- START BLOCK : actualiza_precio_boton -->
					<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#precio_{id_art_lote}">Actualizar Precio</button>
					<!-- START BLOCK : actualiza_precio_boton -->
					<!--<button disabled type="button" class="btn btn-warning">Actualizar Fotos</button>-->

				</td>


	            <!--<td>
	            <a href="index.php?action=Articulo::venta_articulo&id_lote_venta={id_lote_venta}">-->
	            	
	            <!--</a>
	            
	            </td>-->
	        </tr>
			<!-- END BLOCK : con_articulos_lista_cuerpo -->
			 
	            
	        
	        </tbody>
	        </table>
			<!-- END BLOCK : con_articulos_lista -->

			
		</div>
	</div>
</div>