<div class="menu_articulos_admin">
	<div class="container-fluid">
	<!--container-fluid-->
		<div class="row encabezado">
			<div class="col-md-6 col-xs-4">
				<div class="titulo-secciones panel-heading">Articulos</div>
			</div>
			<div class="col-md-4 col-xs-12">
					<a href="index.php?action=Articulo::cargar_deposito">
						<button type="button" class="agregar btn btn-primary">Agregar</button>
					</a>
			</div>
		</div>

		<div id="msj_noencontrado" hidden>
			<h3>No encontrado</h3>
		</div>

		<br>
		<!-- START BLOCK : con_articulos_actualiza_lote_masivo2 -->
		<div class="row">
			<div class="col-md-6 col-xs-12">
				
				<button id="actualiza_masivamente" type="button" class="btn btn-default" data-toggle="modal" data-target="#precio_masivo_">Actualizar Precio por Lote</button>
			</div>
		</div>
		<!-- END BLOCK : con_articulos_actualiza_lote_masivo2 -->
		<br><br>
		<div class="row">

			<!-- START BLOCK : sin_articulos -->
			<div class="col-md-6 col-md-offset-2 col-xs-12">
				<div class="alert alert-warning center-block">
					<h3>No posee articulos en el deposito.</h3>
				</div>
			</div>
			<!-- END BLOCK : sin_articulos -->
		</div>
		<!--table-responsive  crea una barra horizontal de navegacion en talbets-->
		<div class="row ">
		<!-- START BLOCK : con_articulos_nolista -->

			<div class="col-md-6 col-xs-12">
				<div class="panel panel-default">
				  <div class="panel-body">
				  </div>
				  <div class="panel panel-default">
					  <div class="panel-heading"><strong>{nombre}</strong></div>
					  <div class="panel-body">
					    <p><img class="img-circle img-responsive" id="empleado_foto" src="{empl_foto}" alt=""></p>
					  </div>
					  <ul class="list-group">
					    <li class="list-group-item"><strong>Proveedor:</strong>  {prvd}</li>
					    <li class="list-group-item"><strong>Cantidad Total:</strong> {cantidad_total}</li>
					    <li class="list-group-item"><strong>Codigo de Barra:</strong> {cb}</li>
					    <li class="list-group-item"><strong>Medida:</strong> {art_medida}</li>
					    <li class="list-group-item"><strong>Precio Costo:</strong> {precio_base}</li>
					    <li class="list-group-item"><strong>Importe:</strong> {importe}</li>
					    <li class="list-group-item"><strong>Credito Personal:</strong> {credito_personal}</li>
					    <li class="list-group-item"><strong>Color:</strong> {art_color}</li>
					  </ul>
					</div>
					<div class="panel-footer">
						<button type="button" class="btn btn-info">Modificar</button>
					</div>
				</div>

			</div>
			<!-- END BLOCK : con_articulos_nolista -->
		
		<div class="modal fade" id="stock_art" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Stock de Articulos</h4>
		        </div>
		        <div class="form-group">
			    	<div class="row">
			    		<div class=" col-sm-offset-2 control-label  col-sm-4 col-xs-12">
						    <label for="stock_1">DEPOSITO:</label>
						</div>	
						<div class="col-md-4 col-sm-3 col-xs-12">
									         
							<input type="number" class="form-control" id="stock_1" placeholder="Ingrese el codigo de barras del articulo." name="stock_1">
									      
						</div>
			    	</div>
			    </div>

			    <div class="form-group">
			    	<div class="row">
			    		<div class=" col-sm-offset-2 control-label  col-sm-4 col-xs-12">
						    <label for="stock_2">MOTOMATCH CENTRAL:</label>
						</div>	
						<div class="col-md-4 col-sm-3 col-xs-12">
									         
							<input type="number" class="form-control" id="stock_2" placeholder="Ingrese el codigo de barras del articulo." name="stock_2">
									      
						</div>
			    	</div>
			    </div>

			    <div class="form-group">
			    	<div class="row">
			    		<div class=" col-sm-offset-2 control-label  col-sm-4 col-xs-12">
						    <label for="stock_3">MOTOMATCH III:</label>
						</div>	
						<div class="col-md-4 col-sm-3 col-xs-12">
									         
							<input type="number" class="form-control" id="stock_3" placeholder="Ingrese el codigo de barras del articulo." name="stock_3">
									      
						</div>
			    	</div>
			    </div>

			    <div class="form-group">
			    	<div class="row">
			    		<div class=" col-sm-offset-2 control-label  col-sm-4 col-xs-12">
						    <label for="stock_4">MOTOMATCH IV:</label>
						</div>	
						<div class="col-md-4 col-sm-3 col-xs-12">
									         
							<input type="number" class="form-control" id="stock_4" placeholder="Ingrese el codigo de barras del articulo." name="stock_4">
									      
						</div>
			    	</div>
			    </div>
		       
				
				<div class="form-group">
					<div class="row">
						<div class=" col-sm-offset-2 control-label  col-sm-2">
							<button id="act_stock" type="button" class="btn btn-info">Actualizar</button>
						</div>
					</div>
				</div>

		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        </div>
		      </div>
		      
		    </div>
		</div>

		<div class="modal fade" id="precio_art" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Precio de Articulo</h4>
		        </div>
		        <div class="modal-body">
		          	 
			    <div class="form-group">
			    	<div class="row">
			    		<div class=" col-sm-offset-2 control-label  col-sm-2 col-xs-12">
						    <label for="costo_art">Costo:</label>
						</div>	
						<div class="col-md-4 col-sm-3 col-xs-12">
									         
							<input  onblur="calculo_precio_valores()"  type="number" min="0" step="0.001" class="form-control" id="costo_art" placeholder="Ingrese el codigo de barras del articulo." name="costo_art">
									      
						</div>
			    	</div>
			    </div>
		          	
				    
				<div class="form-group">
					<div class="row">
						<div class=" col-sm-offset-2 control-label  col-sm-2 col-xs-12">
						    <label for="costo_art">Moneda:</label>
						</div>
						<div onblur="calculo_precio_valores()" class="col-md-4 col-sm-3 col-xs-12">
					      <select  required name="art_moneda" id="art_moneda"> 
						      <option disabled value="null" {selected_ninguno} >Ninguno</option>
						      <!-- START BLOCK : cargar_moneda -->
						        <option value="{valor_id_moneda}" >{nombre_moneda}</option>
						      <!-- END BLOCK : cargar_moneda -->
					      </select>
					      
				    	</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class=" col-sm-offset-2 control-label  col-sm-2 col-xs-12">
						    <label for="importe_art">Importe:</label>
						</div>
						<div class="col-md-4 col-sm-3 col-xs-12">
									         
							<input  onblur="calculo_precio_valores()"  type="number" min="0" step="0.001" class="form-control" id="importe_art" placeholder="Ingrese el codigo de barras del articulo." name="importe_art">
									      
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class=" col-sm-offset-2 control-label  col-sm-2 col-xs-12">
						    <label for="prc_final">Precio Final:</label>
						</div>
						<div class="col-md-4 col-sm-3 col-xs-12">
									       
							<input onblur="calculo_ganancia2()" type="number" min="0" step="0.001" class="form-control" id="prc_final" placeholder="Precio Final del Articulo" name="prc_final">
									      
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
						<div class=" col-sm-offset-2 control-label  col-sm-2">
							<button id="act_precio" type="button" class="btn btn-info">Actualizar</button>
						</div>
					</div>
				</div>
				

				 
		        </div>

		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        </div>
		      </div>
		      
		    </div>
		</div>


			<table cellpadding="1" class="display" id="mitabla" align="center">
			<thead>
			 
			 <tr>

			 	
	            <th>Codigo</th>
	            <th>Nombre</th>
	             
	            <th>Costo</th>
	            <th>Importe</th>
	            <th>Moneda</th>
	            <th>Total</th>
	            
	            <th></th>  
	            <th></th> 

        	</tr>
        	</thead>
        	<tbody>

	        	
			
	        </tbody>
	        </table>
			

			
		</div>
	</div>
</div>
<a href="#" onclick="mostrar_lista_art()">Mostrar Datos</a>
<!-- START BLOCK : modal_codigo_ver -->
<div class="container-fluid">
	  <div class="row">
	  	<div class="form-group">
	    	<div class="modal fade" id="ver_cb_{id_lote}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span id = "cerrar_modal2" aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Generar Codigo</h4>
						</div>

						<div class="modal-body">
							<div class="form_flotante" id="art_genera_codigo">
								 
								<img id="img_genera_codigo" src='php_recurso/cb/barcode.php?text={art_codigo}&code_type=code39&size=150&print=true'/>
								 
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
	  </div>
</div>
<!-- END BLOCK : modal_codigo_ver -->

<!-- START BLOCK : modal_actualizar_atrs -->
<div class="container-fluid">
	<div class="row">
		<div class="modal fade" id="atrs_{id_lote}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="modal_galeri_backcolor">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span id = "cerrar_modal" aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Actualizar Precio</h4>
					</div>
					<div class="modal-body">
					 	<div class="form_flotante" id="form_art_general">
							<form class="form-horizontal" role="form" enctype="multipart/form-data" action="index.php?action=Articulo::actualiza_atrs&id_lote={id_art_lote}" method="post">
								<!-- START BLOCK : seccion_atr_act -->
								<h3>{nombre_atr}</h3>
								
								 <input required type="text" class="form-control" id="atr_act[]"  name="atr_act[]" value="{valor_atr}"> 

								 <input type="text" class="oculta_inputs2"   name="id_atr_act[]" value="{id_atr}"> 
								<!-- END BLOCK : seccion_atr_act -->

								<!-- START BLOCK : sin_atr -->
								<h3>Sin Atributos</h3>
								
								 
								<!-- END BLOCK : sin_atr -->


								<button class="agregar btn btn-primary" type="submit">Actualizar</button>
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<!-- END BLOCK : modal_actualizar_atrs -->

<!-- START BLOCK : modal_actualizar_precio_masivo -->
<div class="container-fluid">
	<div class="row">
		<div class="modal fade" id="precio_masivo_" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="modal_galeri_backcolor">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span id = "cerrar_modal" aria-hidden="true">&times;</span>
						</button>
						<h2 class="modal-title" id="myModalLabel">Actualizar Precio Masivamente</h2>
						<h3>Articulo: 
							<label for="" id="articulo_actualiza_precio_masivamente_label"></label>
						</h3>
					</div>
					<div class="modal-body">
					 	<div class="form_flotante" id="form_art_general">
							<form class="form-horizontal" role="form" enctype="multipart/form-data" action="index.php?action=Articulo::actualizar_precio_lote" method="post">

								<input class="oculta_inputs2" name="articulo_actualiza_precio_masivamente_2" id="articulo_actualiza_precio_masivamente"></input>

								<h3>Precio Base</h3>
								 
								 <input required min="1" type="number" step="0.001" class="form-control" id="art_precio_base_masivo" placeholder="Ingrese precio base del articulo" name="art_precio_base_masivo" >
								 
								<h3>Tarjeta Credito(Porcentaje)</h3>
								 
								 <input autocomplete="off" min="1" max="100" required  type="text" class="form-control" id="art_precio_tarjeta_masivo" placeholder="Precio tarjeta, en porcentaje." name="art_precio_tarjeta_masivo" >
								  
								<label class="col-md-12 control-label col-sm-3" id ="valor_calculado_tarjeta" for="art_precio_tarjeta_masivo">:</label>
								
								<h3>Credito Personal(Porcentaje)</h3>
								 
								<input autocomplete="off" min="1" max="100" required type="text" class="form-control" id="art_precio_credito_argentino_masivo" placeholder="Precio Credito Personal, en porcentaje." name="art_precio_credito_argentino_masivo">
								 
								<label class="col-md-12 control-label col-sm-3" id ="valor_calculado_credito_personal" for="art_precio_credito_argentino_masivo">:</label>

								<button id="actualiza_precio_masivamente" class="agregar btn btn-primary" type="submit">Actualizar</button>
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<!-- END BLOCK : modal_actualizar_precio_masivo -->


<!-- START BLOCK : modal_actualizar_precio -->
<div class="container-fluid">
	<div class="row">
		<div class="modal fade" id="precio_{id_art_lote}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="modal_galeri_backcolor">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span id = "cerrar_modal" aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Actualizar Precio</h4>
					</div>
					<div class="modal-body">
					 	<div class="form_flotante" id="form_art_general">
							<form class="form-horizontal" role="form" enctype="multipart/form-data" action="index.php?action=Articulo::actualiza_precio&id_art_lote={id_art_lote}" method="post">
								<h3>Precio Base</h3>
								<!-- START BLOCK : actualiza_precio_base -->
								 <input required min="1" type="number" step="0.001"  class="form-control" id="art_precio_base" placeholder="Ingrese precio base del articulo" name="art_precio_base" value="{precio_base_}"> 
								<!-- END BLOCK : actualiza_precio_base -->

								<h3>Importe</h3>
								<!-- START BLOCK : actualiza_importe_ -->
								 <input required min="0" type="number" step="0.000000001"  class="form-control" id="art_importe_ganancia" placeholder="Ingrese importe de ganancia" name="art_importe_ganancia" value="{importe_}"> 
								<!-- END BLOCK : actualiza_importe_ -->

								<!--<h3>Tarjeta Credito(Porcentaje)</h3>-->
								<!-- START BLOCK : actualiza_precio_tarjeta -->
								 <!--<input autocomplete="off" min="1" max="100" required  type="text" class="form-control" id="art_precio_tarjeta" placeholder="Precio tarjeta, en porcentaje." name="art_precio_tarjeta" value="{precio_tarjeta_}">-->
								 <!-- END BLOCK : actualiza_precio_tarjeta -->
								<!--<label class="col-md-12 control-label col-sm-3" id ="valor_calculado_tarjeta" for="art_precio_tarjeta">:</label>
								
								<h3>Credito Personal(Porcentaje)</h3>-->
								<!-- START BLOCK : actualiza_precio_credito -->
								<!--<input autocomplete="off" min="1" max="100" required type="text" class="form-control" id="art_precio_credito_argentino" placeholder="Precio Credito Personal, en porcentaje." value="{precio_credito_}" name="art_precio_credito_argentino">-->
								<!-- END BLOCK : actualiza_precio_credito -->
								<!--<label class="col-md-12 control-label col-sm-3" id ="valor_calculado_credito_personal" for="art_precio_credito_argentino">:</label>-->

								<button class="agregar btn btn-primary" type="submit">Actualizar</button>
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<!-- END BLOCK : modal_actualizar_precio -->

<!-- START BLOCK : modal_actualiza_stock -->
<div class="container-fluid">
	<div class="row">
		<div class="modal fade" id="actualiza_{id_art_lote}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="modal_galeri_backcolor">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span id = "cerrar_modal" aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Actualizar Stock</h4>
					</div>
					<div class="modal-body">
					 	<div class="form_flotante" id="form_art_general">
							<form class="form-horizontal" role="form" enctype="multipart/form-data" action="index.php?action=Articulo::actualiza_stock&id_art_lote_stock_actual={id_art_lote_stock_actual}" method="post">
								<h3>Cantidadde actuales por Local:</h3>
								 <!-- START BLOCK : actualiza_sin_stock_locales_cant -->
								<div class="form-group">
									<label id="label_h" class="col-lg-2 control-label" for="art_ventas_radio">{nombre_local}</label>
									 <div class="col-lg-10">
										<input id="oculta_inputs" class="art_ventas_radio"  name="actualiza_nombre_local[]" type="text" value="{id_local}">
											
										<input  class="art_ventas_radio"  name="actualiza_cantidad_local[]"  min="0" type="number" value="{cantidad_local}" id='art_ventas_radio'>
									</div>

								</div>
								<!-- START BLOCK : actualiza_stock_fecha_art -->
								<div class='input-group date' id='datetimepicker{nombre_local_art_2}'>
			            			<input placeholder="AAAA-MM-DD" name="art_carga_local_fecha_[]" type='text' class="form-control" />
			            			<span class="input-group-addon">
			                			<span class="glyphicon glyphicon-calendar"></span>
			            			</span>
			        			</div>      
			    
								<script type="text/javascript">
								    $(function () {
				    	
								        $('#datetimepicker{nombre_local_art}').datetimepicker({
				        
								        	format: 'YYYY-MM-DD HH:MM:SS'


								        });
								    });
								</script>
								<!-- END BLOCK : actualiza_stock_fecha_art -->
								<!-- END BLOCK : actualiza_sin_stock_locales_cant -->
										     
									
								<br>
								<button class="agregar btn btn-primary" type="submit">Actualizar</button>
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<!-- END BLOCK : modal_actualiza_stock -->

<!-- START BLOCK : modal_galery_fotos -->
<div class="container-fluid">
	<div class="row">
		<div class="modal fade" id="{id_lote}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="modal_galeri_backcolor">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span id = "cerrar_modal" aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Fotos del Articulo</h4>
					</div>
					<div class="modal-body">
					 	<ul class="modal_galery first">
					 	<!-- START BLOCK : modal_galery_fotos_path -->
						    <li class="li_sin_puntos">
						        <img class="img-rounded" width="304" height="236"  alt="Night away"  src="{path_foto}">
								        
						    </li>
						    <br>	
						<!-- END BLOCK : modal_galery_fotos_path -->
						</ul>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<!-- END BLOCK : modal_galery_fotos -->

<!-- START BLOCK : modal_venta_art -->

<div class="container-fluid">
	<div class="row">
		<div class="form-group">
			    	<div class="modal fade" id="{selecionar_local_venta}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span id = "cerrar_modal" aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">Seleccione el Local en donde se encuentra</h4>
								</div>
								<div class="modal-body" id="agregar_ok">
								 
									<div class="form_flotante" id="form_art_general">
										<form class="form-horizontal" enctype="multipart/form-data" action="index.php?action=Articulo::venta_articulo" method="post">
											<div id="seleccionar_local_art" class="checkbox">

											  <label id="label_h" for="art_ventas_radio">
											<!-- START BLOCK : locales_seleccion_venta_art -->
									       
											  	<input  required class="art_ventas_radio"  name="art_local_venta" type="radio" value="{id_lote_local}" id='art_ventas_radio'>{nombre_local}
											 	</label>
										     
											<!-- END BLOCK : locales_seleccion_venta_art -->
											<br>
											<button class="agregar btn btn-primary" type="submit">Continuar</button>
											</div>
										</form>
									</div>
								 
								</div>
							</div>
						</div>
					</div>
			    </div>	
	</div>
</div>

<!-- END BLOCK : modal_venta_art -->