<div class="menu_articulos_admin">
<!-- START BLOCK : modal_galery_fotos -->
<div class="container-fluid">
	<div class="row">
		<div class="modal fade" id="{id_lote}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="modal_galeri_backcolor">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span id = "cerrar_modal" aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Fotos del Articulo</h4>
					</div>
					<div class="modal-body">
					 	<ul class="modal_galery first">
					 	<!-- START BLOCK : modal_galery_fotos_path -->
						    <li class="li_sin_puntos">
						        <img class="col-md-12 col-xs-4" alt="Night away"  src="{path_foto}">
									        
						    </li>
						<!-- END BLOCK : modal_galery_fotos_path -->
						</ul>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<!-- END BLOCK : modal_galery_fotos -->

<!-- START BLOCK : modal_venta_art -->

<div class="container-fluid">
	<div class="row">
		<div class="form-group">
			    	<div class="modal fade" id="{selecionar_local_venta}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span id = "cerrar_modal" aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">Seleccione el Local en donde se encuentra</h4>
								</div>
								<div class="modal-body" id="agregar_ok">
								 
									<div class="form_flotante" id="form_art_general">
										<form class="form-horizontal" enctype="multipart/form-data" action="index.php?action=Articulo::venta_articulo" method="post">
											<div id="seleccionar_local_art" class="checkbox">

											  <label id="label_h" for="art_ventas_radio">
											<!-- START BLOCK : locales_seleccion_venta_art -->
									       
											  	<input  class="art_ventas_radio"  name="art_local_venta" type="radio" value="{id_lote_local}" id='art_ventas_radio'>{nombre_local}
											 	</label>
										     
											<!-- END BLOCK : locales_seleccion_venta_art -->
											<br>
											<button class="agregar btn btn-primary" type="submit">Continuar</button>
											</div>
										</form>
									</div>
								 
								</div>
							</div>
						</div>
					</div>
			    </div>	
	</div>
</div>

<!-- END BLOCK : modal_venta_art -->


	<div class="container">
	<!--container-fluid-->
		<div class="row encabezado">
			<div class="col-md-6 col-xs-4">
				<div class="titulo-secciones panel-heading">Deposito</div>

			</div>
			<div class="col-md-4 col-xs-12">
					<a href="index.php?action=Articulo::cargar_deposito">
						<button type="button" class="agregar btn btn-primary">Agregar</button>
					</a>
			</div>
		</div>

		<div class="row">
		<!-- START BLOCK : buscador_visible -->
			<div class="col-md-6 col-xs-12">
				<span class="input-group-addon" id="basic-addon1">Buscar</span>
	  			<input id="filtrar" type="text" class="form-control" placeholder="Ingrese una palabra referida al articulo.">
				
			</div>
		<!-- END BLOCK : buscador_visible -->
			

			
			
		</div>
		<br><br>
		<div class="row">

			<!-- START BLOCK : sin_articulos -->
			<div class="col-md-6 col-md-offset-2 col-xs-12">
				<div class="alert alert-warning center-block">
					<h3>No posee articulos en el deposito.</h3>
					
				</div>
			</div>
			<!-- END BLOCK : sin_articulos -->
		</div>
		<!--table-responsive  crea una barra horizontal de navegacion en talbets-->
		<div class="row ">
		<!-- START BLOCK : con_articulos_nolista -->

			<div class="col-md-6 col-xs-12">
			 
			
				<div class="panel panel-default">
				  <div class="panel-body">
				  </div>
				  <div class="panel panel-default">
					  <div class="panel-heading"><strong>{nombre}</strong></div>
					  <div class="panel-body">
					    <p><img class="img-circle img-responsive" id="empleado_foto" src="{empl_foto}" alt=""></p>
					  </div>
					  <ul class="list-group">
					    <li class="list-group-item"><strong>Proveedor:</strong>  {prvd}</li>
					    <li class="list-group-item"><strong>Cantidad Total:</strong> {cantidad_total}</li>
					    <li class="list-group-item"><strong>Codigo de Barra:</strong> {cb}</li>
					    <li class="list-group-item"><strong>Medida:</strong> {art_medida}</li>
					    <li class="list-group-item"><strong>Precio Base:</strong> {precio_base}</li>
					    <li class="list-group-item"><strong>Precio Tarjeta:</strong> {precio_tarjeta}</li>
					    <li class="list-group-item"><strong>Credito Personal:</strong> {credito_personal}</li>
					    <li class="list-group-item"><strong>Color:</strong> {art_color}</li>
					  </ul>
					</div>
					<div class="panel-footer">
						<button type="button" class="btn btn-info">Modificar</button>
					</div>
				</div>

			</div>
			<!-- END BLOCK : con_articulos_nolista -->
			
	
			<!-- START BLOCK : con_articulos_lista -->
			<table cellpadding="15" class="table table-bordered " align="center">
			<thead>
			<!-- START BLOCK : con_articulos_lista_cabeza -->
			 <tr>
	            <th>Numero</th>
	            <th>Articulo</th>
	            <th>Stock</th>
	            <th>Medida</th>            
	            <th>Precio Base</th>
	            <th>Precio Tarjeta</th>
	            <th>Credito Personal</th>
	            <th>Fotos</th>
	            <th>Vender</th>
        	</tr>
        	</thead>
        	<tbody class="buscar">
        	
			<!-- END BLOCK : con_articulos_lista_cabeza -->
			
			<!-- START BLOCK : con_articulos_lista_cuerpo -->
			<tr>
				<td>{numero}</td>
	            <td>{nombre}</td>
	            <td>{cantidad_total}</td>
	            <td>{art_medida}</td>
	            <td>{precio_base}</td>
	            <td>{precio_tarjeta}</td>
	            <td>{credito_personal}</td>
	            <td> <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#{id_lote}">
							Ver
						</button></td>
	            <td>
	            <!--<a href="index.php?action=Articulo::venta_articulo&id_lote_venta={id_lote_venta}">-->
	            	<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#{selecionar_local_venta}">
							Vender
						</button>
	            <!--</a>-->
	            
	            </td>
	        </tr>
			<!-- END BLOCK : con_articulos_lista_cuerpo -->
			 
	            
	        
	        </tbody>
	        </table>
			<!-- END BLOCK : con_articulos_lista -->

			
		</div>
	</div>
</div>