<div class="container" id="lista_ventas_realizadas">
	<h3>Vender Articulos</h3>	
	<div class="row">
		<!-- START BLOCK : buscador_visible -->
		<h4 id="Sinresultados"></h4>
		<div id="bloodhound tag" class="ui-widget col-md-12 col-xs-12">
				<span class="input-group-addon" id="basic-addon1">Buscar</span>
	  			<input  id="CajaBusqueda" class="typeahead form-control" type="text" placeholder="Ingrese una palabra referida al articulo."  onblur="calculo_total()">

			</div>
		<!-- END BLOCK : buscador_visible -->	
	</div>
	<br><br>
	<div id="Resultados" class="row ">
	
		<!-- START BLOCK : con_articulos_lista -->
		<table id="tabla_pv" cellpadding="15" class="table table-bordered " align="center">
			<thead>
			
			 <tr>
	            <th>N°</th>
	            <th>Articulo</th>
	            <th>Cantidad</th>          
	            <th>Precio/Unidad</th>
	        </tr>
        	</thead>
        	<tbody>

			<tr id="venta_total">
			 
				<td  colspan='3' ><strong>SubTotal:</strong> </td>
			 	<td  colspan='1' ><strong> $ <label id="total_venta"><label></strong></td>
			</tr>
			<tr id="venta_total">
			 
				<td  colspan='3' ><strong>Total:</strong> </td>
			 	<td  colspan='1' ><strong> $ <label id="total_venta_final"><label></strong></td>
			</tr>
	        </tbody>
	     </table>
	
	    
		<!-- END BLOCK : con_articulos_lista -->
		<!-- START BLOCK : sin_articulos_lista -->
			<div class="alert alert-warning center-block">
				<h2>No posee articulos vendidos.</h2>
			</div>
		<!-- END BLOCK : sin_articulos_lista -->
	</div>
	<div class="row">
		<a class="agregamedio" id="agrega_medio_pago" onclick="agregar_elimina_medio_pago(this)" value="1">Agregar Medio de Pago</a>
	</div>
	<br><br>
	<div class="row" id="bloque_medio_pago">	
		<!-- START BLOCK : con_medios_pagos -->
		 
			<div class="form-group">        
				<label class="control-label col-md-4 col-xs-12" for="forma_pago_select">Medio de Pago 1:</label>
				<div class="col-md-7 col-xs-12">
					<select required id="forma_pago_select" class="selectpicker" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" onchange="calculo_total()" onclick="una_vez()">
						<option disabled value="null" selected >Elija un Medio</option>
						<!-- START BLOCK : medio_pago_venta_opciones -->
						<option value="{id_medio_pago}">{nombre_medio_pago}</option>
						<!-- END BLOCK : medio_pago_venta_opciones -->		  	
					</select>	
					<input onchange="calcular_diferencia_mp(this)" type="number" min="1" value="0" id="medio_pago_valor_total">
				</div>

			</div>
			<div class="clearfix"></div>
			

			<div class="form-group">        
				<label class="control-label col-md-4 col-xs-12" for="cantidad_cuotas">Cuotas:</label>
				<div class="col-md-7 col-xs-12">
					<select data-live-search="true" data-live-search-style="startsWith"  required id="cantidad_cuotas" class="selectpicker" onchange="cantidad_cuotas_act()" >
						<option disabled value="null" selected >Elija cantidad de Cuotas</option>
						
					</select>	
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="form-group" id="forma_pago_select_2_bloque">        
				<label class="control-label col-md-4 col-xs-12" for="forma_pago_select_2">Medio de Pago 2:</label>
				<div class="col-md-7 col-xs-12">
					<select required id="forma_pago_select_2" class="selectpicker" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" onchange="calculo_total_2m()" onblur="calculo_total()">
						<option disabled value="0" selected >Elija un Medio</option>
						<!-- START BLOCK : medio_pago_venta_opciones2 -->
						<option value="{id_medio_pago2}">{nombre_medio_pago}</option>
						<!-- END BLOCK : medio_pago_venta_opciones2 -->		  	
					</select>	
					<input onchange="calcular_diferencia_mp(this)" type="number" min="1" value="0" id="medio_pago_valor_total_2">
				</div>

			</div>
		 
		<!-- END BLOCK : con_medios_pagos -->
		<br><br>
		<!-- START BLOCK : con_locales -->
		<div class="form-group" id="forma_pago_select_2_bloque">        
				<label class="control-label col-md-4 col-xs-12" for="local_select">Seleccione el Local:</label>
				<div class="col-md-7 col-xs-12">
					<select required id="local_select" class="selectpicker" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" onchange="local_seleciona()">
						<option disabled value="null" selected >Elija un Local</option>
						<!-- START BLOCK : locales_ -->
						<option value="{id_local}">{nombre_local}</option>
						<!-- END BLOCK : locales_ -->		  	
					</select>	
				</div>
			</div>
		<!-- END BLOCK : con_locales -->

		<!-- START BLOCK : sin_locales -->
		<div class="alert alert-warning">
		  <strong>Atencion!</strong> No posee locales cargados. Debe cargarlos!
		</div>
		<!-- END BLOCK : sin_locales -->

		<!-- START BLOCK : sin_medios_pagos -->
		<div class="alert alert-warning">
		  <strong>Atencion!</strong> No posee medios de pagos cargados. Debe cargarlos!
		</div>
		<!-- END BLOCK : sin_medios_pagos -->
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-9 col-md-offset-3">
			<button id="btn_vender" type="button" class="btn btn-success btn-lg ">Vender!</button>
		</div>
	</div>


</div>

<!-- START BLOCK : modal_modificar_venta -->

<div class="container-fluid">
	<div class="row">
		<div class="form-group">
			    	<div class="modal fade" id="modifica_venta{id_venta2}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span id = "cerrar_modal" aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">Seleccione el Local en donde se encuentra</h4>
								</div>
								<div class="modal-body" id="agregar_ok">
								 
									<div class="form_flotante" id="form_art_general">
										<form class="form-horizontal" enctype="multipart/form-data" action="index.php?action=Articulo::modificar_venta&id_venta={id_venta}&id_lote_local={id_lote_local}" method="post">
											<div id="seleccionar_local_art" class="checkbox">

											  <label id="label_h" for="art_ventas_radio">
											<!-- START BLOCK : articulos_seleccionar -->
									       
											  	<input  required class="art_ventas_radio"  name="art_lote_cambio" type="radio" value="{id_lote_local_cambio}" id='art_ventas_radio'>{nombre_articulo}
											 	</label>
										     
											<!-- END BLOCK : articulos_seleccionar -->
											<br>
											<button class="agregar btn btn-primary" type="submit">Continuar</button>
											</div>
										</form>
									</div>
								 
								</div>
							</div>
						</div>
					</div>
			    </div>	
	</div>
</div>

<!-- END BLOCK : modal_modificar_venta -->
