<div class="container" id="lista_ventas_realizadas">
	<div class="row">
		<!-- START BLOCK : buscador_visible -->
		<h4 id="Sinresultados"></h4>
		<div id="bloodhound tag" class="ui-widget col-md-12 col-xs-12">
				<span class="input-group-addon" id="basic-addon1">Buscar</span>
	  			<input  id="CajaBusqueda" class="typeahead" type="text" placeholder="Ingrese una palabra referida al articulo.">
			</div>
		<!-- END BLOCK : buscador_visible -->	
	</div>
	<br><br>
	<div id="Resultados" class="row ">
	
		<!-- START BLOCK : con_articulos_lista -->
		<table id="tabla_pv" cellpadding="15" class="table table-bordered " align="center">
			<thead>
			
			 <tr>
	            <th>N°</th>
	            <th>Articulo</th>
	            <th>Cantidad</th>          
	            <th>Precio/Unidad</th>
	        </tr>
        	</thead>
        	<tbody>

			<tr id="venta_total">
			 
				<td  colspan='3' ><strong>SubTotal:</strong> </td>
			 	<td  colspan='1' ><strong> $ <label id="total_venta"><label></strong></td>
			</tr>
			<tr id="venta_total">
			 
				<td  colspan='3' ><strong>Total:</strong> </td>
			 	<td  colspan='1' ><strong> $ <label id="total_venta_final"><label></strong></td>
			</tr>
	        </tbody>
	     </table>
	
	    
		<!-- END BLOCK : con_articulos_lista -->
		<!-- START BLOCK : sin_articulos_lista -->
			<div class="alert alert-warning center-block">
				<h2>No posee articulos vendidos.</h2>
			</div>
		<!-- END BLOCK : sin_articulos_lista -->
	</div>
	<br><br>
	<div class="row">	
		<!-- START BLOCK : con_medios_pagos -->
		<div class="form-group">        
			<label class="control-label col-md-4 col-xs-12" for="forma_pago_select">Medio de Pago:</label>
			<div class="col-md-7 col-xs-12">
				<select required id="forma_pago_select" class="selectpicker" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" onchange="calculo_total(this)">
					<option disabled value="null" selected >Elija un Medio</option>
					<!-- START BLOCK : medio_pago_venta_opciones -->
					<option value="{id_medio_pago}">{nombre_medio_pago}</option>
					<!-- END BLOCK : medio_pago_venta_opciones -->		  	
				</select>	
				<!--<input type="number" value="0" id="medio_pago_valor_total">-->
			</div>

		</div>
		<div class="clearfix"></div>
		<!--<select required id="valor_pago_select" class="selectpicker">
			<option disabled value="null" selected >Elija un valor</option>
				<optgroup label="{nombre_pago}">
					<option value="{valor_pago}">{valor_pago}</option>
				</optgroup>
		</select>-->


		<!-- END BLOCK : con_medios_pagos -->

		<!-- START BLOCK : sin_medios_pagos -->
		<div class="alert alert-warning">
		  <strong>Atencion!</strong> No posee medios de pagos cargados. Debe cargarlos!
		</div>
		<!-- END BLOCK : sin_medios_pagos -->
	</div>
	<br><br>
	<div class="row">
		<button id="btn_vender" type="button" class="btn btn-success">Vender!</button>
	</div>


</div>

<!-- START BLOCK : modal_modificar_venta -->

<div class="container-fluid">
	<div class="row">
		<div class="form-group">
			    	<div class="modal fade" id="modifica_venta{id_venta2}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span id = "cerrar_modal" aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">Seleccione el Local en donde se encuentra</h4>
								</div>
								<div class="modal-body" id="agregar_ok">
								 
									<div class="form_flotante" id="form_art_general">
										<form class="form-horizontal" enctype="multipart/form-data" action="index.php?action=Articulo::modificar_venta&id_venta={id_venta}&id_lote_local={id_lote_local}" method="post">
											<div id="seleccionar_local_art" class="checkbox">

											  <label id="label_h" for="art_ventas_radio">
											<!-- START BLOCK : articulos_seleccionar -->
									       
											  	<input  required class="art_ventas_radio"  name="art_lote_cambio" type="radio" value="{id_lote_local_cambio}" id='art_ventas_radio'>{nombre_articulo}
											 	</label>
										     
											<!-- END BLOCK : articulos_seleccionar -->
											<br>
											<button class="agregar btn btn-primary" type="submit">Continuar</button>
											</div>
										</form>
									</div>
								 
								</div>
							</div>
						</div>
					</div>
			    </div>	
	</div>
</div>

<!-- END BLOCK : modal_modificar_venta -->
