<div class="art_venta_cambio">
	<div class="container">
		<div class="row encabezado">
			<div class="col-md-12 col-sm-10 col-xs-12">
				<div class="titulo-secciones panel-heading">Cambio Venta Realizada</div>

			</div>
			
		</div>
		<div class="panel-body alert alert-info">
			<!--<h2>Se cambia el Articulo:</h2>
	  		

	  		 <div class="row">
            	<div class="form-group">
				<label class="col-md-2 col-xs-12" for="scrs_nombre">Nombre:</label>
				<div class="col-md-6 col-xs-12">
				  <label for="">{art_nombre}</label>
				</div>
				</div>
            </div>
           
           <div class="row">
           	<div class="form-group">
			  	<label class="col-md-2  col-xs-12" for="scrs_descripcion">Precio Vendido:</label>
				      
		  		<div class="col-md-6 col-xs-12">
			   		<label for="">{art_precio}</label>
			  	</div>

			</div>
           </div>

           <div class="row">
           	<div class="form-group">
			  	<label class="col-md-2  col-xs-12" for="scrs_descripcion">Local de Venta:</label>
				      
		  		<div class="col-md-6 col-xs-12">
			   		<label for="">{nombre_local}</label>
			  	</div>

			</div>
           </div>
           <div class="row">
           	<div class="form-group">
			  	<label class="col-md-2  col-xs-12" for="scrs_descripcion">Usuario Vendedor:</label>
				      
		  		<div class="col-md-6 col-xs-12">
			   		<label for="">{usuario_vendedor}</label>
			  	</div>

			</div>
           </div>

            <div class="row">
           	<div class="form-group">
			  	<label class="col-md-2  col-xs-12" for="scrs_descripcion">Fecha de Venta:</label>
				      
		  		<div class="col-md-6 col-xs-12">
			   		<label for="">{fecha_venta}</label>
			  	</div>

			</div>
           </div> -->
		<h2>Cambiar por el articulo:</h2>
          <form enctype="multipart/form-data" action="index.php?action=Articulo::confirmar_venta&id_venta={id_venta}&id_lote_local={id_lote_local}" method="post" class="form-inline" role="form">
           	<div class="form-group">        
				<label class="control-label col-md-12 col-xs-12" for="art_venta_formas_pago">Eleguir:</label>
				    <div class="col-md-12 col-sm-12 col-xs-12">
				      <select required name="art_venta_cambio" id="select_art_tipo" data-live-search="true" data-live-search-style="startsWith" class="selectpicker">
				      <!-- START BLOCK : cargar_articulo -->
				        <option value="{id_lote_local}">{nombre_articulo}</option>
				      <!-- END BLOCK : cargar_articulo -->
				      </select>
				      
					</div>
			</div>
					

			<div class="form-group">        
				<div class="row">
    				<div class="col-md-12 col-sm-offset-2 col-sm-5 col-xs-12">
					        	
					<button type="submit" class="btn btn-success btn-md"  id="cambio_venta">Aceptar</button>
					<a href="index.php?action=Ingreso::reportes&clave_reporte=8">
						<button type="button" class="btn btn-danger">Cancelar</button>
					</a>
					        	
					</div>
				</div>
			</div>
          </form>
        </div>
	</div>
</div>


