
<!-- START BLOCK : encabezado_reporte_1 -->

<h3>&nbsp; &nbsp;&nbsp; &nbsp;{titulo}&nbsp; &nbsp;&nbsp; &nbsp; {nombre_cliente}</h3>  
<p>
	<span>Fecha de Generacion: {fecha_actual}</span>&nbsp; &nbsp;
	<!--<span>Generado por el Usuario: {usuario}</span><br>-->
	<span>Desde: {fecha_desde}</span> &nbsp; &nbsp;
	<span>Hasta: {fecha_hasta}</span>
</p>


<!-- END BLOCK : encabezado_reporte_1 -->


<!-- START BLOCK : mp_local -->
 
<h4>Medio de Pago: {medio_pago}</h4>
<h4>Local: {local}</h4>
 

<!-- END BLOCK : mp_local -->