<head>
  {encabezado}
  <meta charset="UTF-8">
  <title>Otium</title>
  <style type="text/css">
    .separacion_td{
      border: 2px solid red;
    }
    .subraya{
      text-decoration: underline ;
    }
    /*.separacion_td strong{
       
      background-color: #AAE833;
    }*/
  </style>
</head>
<!-- START BLOCK : boton_pdf -->
<a href="index.php?action=Reportes::armar_pdf&clave_reporte=1&fecha_desde={fecha_desde}&fecha_hasta={fecha_hasta}">
  <button type="button" class="btn btn-primary">Generar PDF</button>
</a>
<!-- END BLOCK : boton_pdf -->
<div align="center">
  <h2 class="subraya">INGRESOS</h2>
  <table cellpadding="10" class="table table-bordered " align="center">
    <thead>
      <tr>
        <!-- START BLOCK : columna_tabla -->
        <th>{nombre_columna}</th> 
        <!-- END BLOCK : columna_tabla -->
      </tr>
    </thead>
    <tbody>
      <!-- START BLOCK : filas_tabla -->
      <tr>

        <!-- START BLOCK : datos_fila_tabla_3 -->
        <td>{dato_fila0}</td>
        <td>{dato_fila1}</td>
        <td>{dato_fila2}</td>
        <td>{dato_fila3}</td>
        <td>{dato_fila4}</td>
        <!-- END BLOCK : datos_fila_tabla_3 -->

        <!-- START BLOCK : datos_fila_tabla_1 -->
        <td>{dato_fila0}</td>
        <td>{dato_fila1}</td>

        <!-- END BLOCK : datos_fila_tabla_1 -->

      </tr>
      <!-- END BLOCK : filas_tabla -->
      
      <!-- START BLOCK : total_ventas -->
      <tr id="venta_total">

        <td class="separacion_td" colspan='{cantidad_locales}' >
          <strong> Total: $  {total_ventas}</strong> --
          <strong> Promedio en {cantidad_dias} Dias: $  {total_ventas_promedio} p/dia</strong> --
          <strong> Medio Pago: CONTADO - EFECTIVO</strong>
        </td>

      </tr>
      <!-- END BLOCK : total_ventas -->

    </tbody>
  </table>

</div>
<div style="page-break-after:always;"></div>
<div align="center">
  <h2 class="subraya">EGRESOS</h2>
  <!-- START BLOCK : gastos_tabla -->
  <h4 align="left">{titulo_gasto}</h4>
  <table cellpadding="10" class="table table-bordered ">
    <thead>
      <tr>

        <th>Fecha</th> 
        <th>Nombre</th> 
        <th>SubTotal</th> 
        
      </tr>
    </thead>
    <tbody>
      <!-- START BLOCK : filas_tabla_gs -->
      <tr>

        <td>
          <p>{fecha_gasto}</p>
        </td>
        <td>{nombre_subagsto}</td>
        <td>{subtotal}</td>

      </tr>
      <!-- END BLOCK : filas_tabla_gs -->
      
      <!-- START BLOCK : total_gs -->
      <tr>

        <td  class="separacion_td" colspan='3' >
          <strong> Total: $  {total_gsunico_valor}</strong> 

        </td>

      </tr>
      <!-- END BLOCK : total_gs -->

    </tbody>
  </table>
  <!-- END BLOCK : gastos_tabla -->
  <!-- START BLOCK : total_egresos -->
  <h4 align="left"><strong>Total de Egresos: {total_egresos}</strong></h4>
  <!-- END BLOCK : total_egresos -->
</div>

<!-- START BLOCK : ventas_nocontado -->
<div align="center">
  <h2 class="subraya">Ventas con Otros Medios</h2>
  
  <!-- START BLOCK : tabla_nocontado -->
  <h4 align="left">Ventas con: {titulo_nombre_mp}</h4>
  <table cellpadding="10" class="table table-bordered ">
    <thead>
      <tr>

        <th>Local</th> 
        <th>Fecha</th> 
        <th>Nro. Comp</th> 
        <th>Monto</th> 
        
      </tr>
    </thead>
    <tbody>
      <!-- START BLOCK : filas_tabla_nocontado -->
      <tr>
        <td>{local}</td>
        <td>
          <p>{fecha_gasto}</p>  
        </td>
        <td>{nrocomp}</td>
        <td>$ {monto}</td>

      </tr>
      <!-- END BLOCK : filas_tabla_nocontado -->
      
      <!-- START BLOCK : total_nocontado -->
      <tr>

        <td class="separacion_td" colspan='3' >
          <strong align="left"> Total de ventas con {nombre_mp}: $  {total_por_mp}</strong> 


        </td>

      </tr>
      <!-- END BLOCK : total_nocontado -->

    </tbody>
  </table>
  <!-- END BLOCK : tabla_nocontado -->

<!-- START BLOCK : total_total_nocontado -->
<p>
  <strong align="left"> <h3>Total de ventas con OTROS MEDIOS</h3>: $  {total_ventas_otros_medios}</strong> 
</p>

<!-- END BLOCK : total_total_nocontado -->
</div>
<!-- END BLOCK : ventas_nocontado -->



