<head>
  {encabezado}
  <meta charset="UTF-8">
  <title>Otium</title>
  <style type="text/css">
    /*.separacion_td{
      border: 1px solid red;
    }*/
    .subraya{
      text-decoration: underline ;
    }
    *{
      line-height: 15px;

      font-size: 1em;
    }
 
    table{
        border-collapse: separate;
        border-spacing: 0px 5px 0px 0px;
    }
    /*.separacion_td strong{
       
      background-color: #AAE833;
    }*/
  </style>
  <!--Queda Pensando con el Bootstrap-->
  <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
</head>
<!-- START BLOCK : boton_pdf -->
<a href="index.php?action=Reportes::armar_pdf&clave_reporte=1&fecha_desde={fecha_desde}&fecha_hasta={fecha_hasta}">
  <button type="button" class="btn btn-primary">Generar PDF</button>
</a>
<!-- END BLOCK : boton_pdf -->

<!-- START BLOCK : boton_pdf_global -->
<a href="index.php?action=Reportes::armar_pdf&clave_reporte=2&fecha_mes_anio={fecha_mes_anio}">
  <button type="button" class="btn btn-primary">Generar PDF</button>
</a>
<!-- END BLOCK : boton_pdf_global -->

<!-- START BLOCK : boton_pdf_ventas -->
<a href="index.php?action=Reportes::armar_pdf&clave_reporte=3&fecha_desde={fecha_desde}&fecha_hasta={fecha_hasta}&medio_pago={medio_pago}&local={local}">
  <button type="button" class="btn btn-primary">Generar PDF</button>
</a>
<!-- END BLOCK : boton_pdf_ventas -->
<div >
  <h3 class="subraya">INGRESOS</h3>
  <table >
    <thead>
      <tr>
        <!-- START BLOCK : columna_tabla -->
        <th width="200px">{nombre_columna}</th> 
        <!-- END BLOCK : columna_tabla -->
      </tr>
    </thead>
    <tbody>
      <!-- START BLOCK : filas_tabla -->
      <tr>
       


        <!-- START BLOCK : datos_fila_tabla_4 -->
        <td>{dato_fila0}</td>
        <td>{dato_fila1}</td>
        <td>{dato_fila2}</td>
        <td>{dato_fila3}</td>
        <td>{dato_fila4}</td>
        <!-- END BLOCK : datos_fila_tabla_4 -->

        <!-- START BLOCK : datos_fila_tabla_3 -->
        <td>{dato_fila0}</td>
        <td>{dato_fila1}</td>
        <td>{dato_fila2}</td>
        <td>{dato_fila3}</td>
         
        <!-- END BLOCK : datos_fila_tabla_3 -->

        <!-- START BLOCK : datos_fila_tabla_1 -->
        <td>{dato_fila0}</td>
        <td>{dato_fila1}</td>

        <!-- END BLOCK : datos_fila_tabla_1 -->

      </tr>
      <!-- END BLOCK : filas_tabla -->
      
      <!-- START BLOCK : total_ventas -->
      <tr id="venta_total">

        <td width="200px" class="separacion_td" colspan='{cantidad_locales}' >
          <strong> Total: $  {total_ventas}</strong> --
          <strong> Promedio en {cantidad_dias} Dias: $  {total_ventas_promedio} p/dia</strong> --
          <strong> Medio Pago: CONTADO - EFECTIVO</strong>
        </td>

      </tr>
      <!-- END BLOCK : total_ventas -->

      <!-- START BLOCK : total_ventas_2 -->
      <tr id="venta_total">

        <td class="separacion_td" colspan='{cantidad_columnas}' >
          <strong> Total: $  {total_ventas}</strong> --
           
        </td>

      </tr>
      <!-- END BLOCK : total_ventas_2 -->

      <!-- START BLOCK : total_global -->
      <tr id="venta_total">

        <td class="separacion_td" width="200px" colspan='{cantidad_columnas}' >
          <strong> Total Contado-Efectivo: $  {total_total_ventas_contado}</strong> --
          <strong> Total Otros Medios: $  {total_total_ventas_omp}</strong> --
          <strong> Total Ventas del Mes: $  {total_total_ventas_total}</strong> 
          
        </td>

      </tr>
      <!-- END BLOCK : total_global -->


    </tbody>
  </table>

</div>


<div>
  <h3 class="subraya">EGRESOS</h3>
<!-- START BLOCK : gastos_tabla --> 
  <p align="left">{titulo_gasto}</p>
  <table id="space">
    <thead>
      <tr>

        <th colspan='6'>Fecha</th> 
        <th colspan='6'>Nombre</th> 
        
        <th colspan='6'>Monto</th> 
        
      </tr>
    </thead>
    <tbody>
      <!-- START BLOCK : filas_tabla_gs_detallado -->
      <tr>
    
        <td colspan='6'>{fecha_gasto}</td>
        <td colspan='6'>{nombre_subagsto}</td>
        
        <td colspan='6'>{subtotal}</td>

      </tr>
      <!-- END BLOCK : filas_tabla_gs_detallado -->
      
      <!-- START BLOCK : total_gs -->
      <tr>

        <td  class="separacion_td" colspan='3' >
          <strong> Total: $  {total_gsunico_valor}</strong> 

        </td>

      </tr>
      <!-- END BLOCK : total_gs -->

    </tbody>
  </table>
  <!-- END BLOCK : gastos_tabla -->

  <!-- START BLOCK : gastos_tabla_sueldo --> 
  <p align="left">{titulo_gasto}</p>
  <table>
    <thead>
      <tr>

        <th width="200px">Empleado</th> 
        <th width="200px">Basico</th> 
        <th width="200px">Total Anticipos</th> 
        <th width="200px">Aguinaldo</th> 
        <th width="200px">Neto a Cobrar</th> 
        
      </tr>
    </thead>
    <tbody>
      <!-- START BLOCK : filas_tabla_gs_detallado_sl -->
      <tr>
         
        <td>{nombre_emp_sl}</td> 
        <td>{basico_emp_sl}</td>
        <td>{total_anticipos_emp_sl}</td>
        <td>{aguinaldo_emp_sl}</td>
        <td>{neto_cobrar_emp_sl}</td>


      </tr>
      <!-- END BLOCK : filas_tabla_gs_detallado_sl -->
      
      <!-- START BLOCK : total_gs_sueldo -->
      <tr>

        <td  class="separacion_td" colspan='3' >
          <strong> Total de Sueldos: $  {total_sueldos}</strong> 
          <strong> Total de Anticipos: $  {total_sueldos_anticipos}</strong> 
          <strong> Total a Pagar: $  {total_sueldos_neto}</strong> 

        </td>

      </tr>
      <!-- END BLOCK : total_gs_sueldo -->

    </tbody>
  </table>
  <!-- END BLOCK : gastos_tabla_sueldo -->

  <!-- START BLOCK : gastos_tabla_global --> 
  <p class="subraya" align="left">{titulo_gasto}</p>
  <table>
    <thead>
      <tr>

        <th>Titulo Gasto</th> 
        <th>Total</th> 
         
        
      </tr>
    </thead>
    <tbody>
      <!-- START BLOCK : filas_tabla_gs -->
      <tr>

        <td>{nombre_gasto}</td>
        <td>{total}</td>

      </tr>
      <!-- END BLOCK : filas_tabla_gs -->
      
      <!-- START BLOCK : total_gs_global -->
      <tr>

        <td  class="separacion_td" colspan='3' >
          <strong> Total de Gastos: $  {total_gastos}</strong> 

        </td>

      </tr>
      <!-- END BLOCK : total_gs_global -->

    </tbody>
  </table>
  <!-- END BLOCK : gastos_tabla_global -->


  <!-- START BLOCK : total_egresos -->
  <p align="left"><strong>Total de Egresos: {total_egresos}</strong></p>
  <!-- END BLOCK : total_egresos -->
</div>


<div>
  <!-- START BLOCK : titulo_otros_medios -->
  <h3 class="subraya">VENTAS CON OTROS MEDIOS</h3>
  <!-- END BLOCK : titulo_otros_medios -->
<!-- START BLOCK : ventas_nocontado -->  
  <!-- START BLOCK : tabla_nocontado -->
  <p align="left">Ventas con: <strong>{titulo_nombre_mp}</strong></p>
  <table >
    <thead>
      <tr>

        <th colspan='2'>Local</th> 
        <th>Fecha</th> 
        <th colspan='2'>Nro. Comp</th> 
        <th>Monto</th> 
        
      </tr>
    </thead>
    <tbody>
      <!-- START BLOCK : filas_tabla_nocontado -->
      <tr>
        <td colspan='2'>{local}</td>&nbsp; &nbsp;
        <td>{fecha_gasto}</td>
        <td colspan='2'>{nrocomp}</td>
        <td>$ {monto}</td>

      </tr>
      <!-- END BLOCK : filas_tabla_nocontado -->
      
      <!-- START BLOCK : total_nocontado -->
      <tr>

        <td class="separacion_td" colspan='3' >
          <strong align="left"> Total de ventas con {nombre_mp}: $  {total_por_mp}</strong> 


        </td>

      </tr>
      <!-- END BLOCK : total_nocontado -->

    </tbody>
  </table>
  <!-- END BLOCK : tabla_nocontado -->

<!-- START BLOCK : total_total_nocontado -->
<p>
  <strong align="left"> <p>Total de ventas con OTROS MEDIOS</p>: $  {total_ventas_otros_medios}</strong> 
</p>

<!-- END BLOCK : total_total_nocontado -->
</div>
<!-- END BLOCK : ventas_nocontado -->



